<div class="form-box">
    <h2>ایجاد جلسه جدید</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <label>عنوان جلسه</label>
        <input formControlName="title" type="text" placeholder="مثلاً جلسه هیئت مدیره">

        <label>تاریخ و ساعت شروع جلسه</label>
        <input formControlName="meetingDate" type="datetime-local">



        <label>صورتجلسه</label>
        <textarea formControlName="description" rows="3"></textarea>

        <div class="res-box">
            @if (resolutions.length > 0) {
                <ul class="res-list">
                    @for (item of resolutions.controls; let i = $index; track i) {
                        <li class="res-item-show">
                            <span>{{ item.value.content }}</span>
                            <span>مهلت: {{ item.value.deadline | jalaliDate }}</span>
                            <span>مسئول: {{ getUserName(item.value.userId) }}</span>

                            <button class="remove-btn" type="button" (click)="removeResolution(i)">حذف</button>
                        </li>
                    }
                </ul>
            }

            <hr>

            <div [formGroup]="resolutionForm" class="res-add-form">
                <input formControlName="content" placeholder="متن مصوبه">

                <input formControlName="deadline" type="date">


                <select formControlName="userId">
                    <option value="">انتخاب مسئول</option>
                    @for (u of users(); track u.id) {
                        <option [value]="u.id">{{ u.fullName }}</option>
                    }
                </select>

                <button class="add-btn" type="button" (click)="submitResolution()">ثبت مصوبه</button>
            </div>
            @if (form.errors?.['deadlineBeforeMeeting']){
                <div class="error-box">
                    تاریخ انجام مصوبات نمی‌تواند قبل از زمان شروع جلسه باشد.
                </div>
            }
        </div>

        <button class="primary-submit" type="submit" [disabled]="form.invalid">
            ثبت جلسه
        </button>
    </form>
</div>
